body{
	font-family: 'Overpass Mono', monospace;
	color: black;
	text-align:center;
	font-size: 10px;
}

.grid-container{
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	grid-gap: 10px;
	padding: 10px;
}


.grid-item{
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 10px;
	text-align:center;
}

@media only screen and (min-device-width : 375px) and (max-device-width : 812px)  {
  .grid-container{
	grid-gap: 20px;
	padding: 20px;
  }
  .grid-item{
  	min-width:50%;
  }
  body{
  	font-size: 30px;
  }
}

.shop-item{
	width: 40%;
	object-fit: cover;
	position:relative;
	bottom:0px;
}

.shop-item:hover{
	width:50%;
}

#welcome{
	padding:100px;
}

